<html>
    {% include "header.html" %}

    <body>
        <div id="main">
            
            

            {% for table in tables %}            
            <h2>{{titles[loop.index]}}</h2>
            <div id="left">
                <form action="/" method="get">
                    
                    <input type="text" name="user" placeholder="Namen eingeben" value="{{name}}" autofocus>
                    <input type="submit" value="Suchen">

                </form>
                <form action="/" method="get">
                    <input type="submit" value="Zurücksetzen" id="back_set">
                </form>
            </div>
            {{ table|safe }}
                {% endfor %}

        </div>

    </body>

    {% include "footer.html" %}
</html>












