<html>
    {% include "header.html" %}

    <body>
        <div id="main">

            {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
                {% endfor %}

            <br>
            <p>Falls der gesuchte Nutzer nicht auftaucht, können Sie auch auf den Knopf unten drücken und den Namen manuell eingeben.</p>
            <form action="" method="get">
                <input type="hidden" name="site" value="take_book">
                <input type="hidden" name="para" value="0">
                <input type="hidden" name="ISBN" value="{{ISBN}}">
                <input type="submit" value="AUSFÜLLEN">
            </form>

        </div>

    </body>

    {% include "footer.html" %}
</html>












