<html>
    {% include "header.html" %}

    <body>
        <div id="main">

            <center> <h1> Buch ausleihen </h1> </center>   
            <form action="/" method="get">  
                <div id="take_book">
                    <input type="hidden" value="take_book" name="site" required> 
                    <label>ISBN: </label>   
                    <input type="text" placeholder="ISBN" name="ISBN" value="{{ISBN}}" id="take_in" required> <br>
                    <label>Nachname: </label>   
                    <input type="text" placeholder="Nachname" name="user" id="take_in" required><br>
                    <input type="submit" id="take_in_b" value="Suchen">
                </div>   
            </form>

        </div>

    </body>

    {% include "footer.html" %}
</html>